@import url('https://fonts.googleapis.com.css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 scroll-behavior: smooth;

}
section{
    padding: 100px;
    min-height: 100vh;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;

}
.imgsidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;

}
.imgsidebar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.contentbx ,.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width :calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
 
}
.logotext{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}

.contentbx h4 {
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}
.contentbx h4 span {
    color: #00bcd4;
    font-size: 1.5em;
    font-weight: 700;

}
.contentbx h2 {
    font-size: 3em;
    color: #333;
    line-height: 1em;
}


.toggle{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;


}
.toggle.active{
    background: #000 url(close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  

}

.btn {
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition-property: transform;
    transition: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;

}
.btn:hover{
    transform: translateY(-10px);
}
p{
    font-size: 1.1em;
    margin: 20px 0 ;
    font-weight: 300;
}
.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;


}
.sidebar.active {
    right: 0;
}


.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.sidebar ul li a:hover {
    color: #00bcd4;
}


.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sci li {
    margin-right: 10px;
    list-style: none;
}
.sci li img {
    transition-property: transform;
    transition: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform: scale(0.5);
    opacity: 0.6 ;

}
.sci li img:hover {
    transform: scale(0.7);
    opacity: 1;

}
.hidden{
    opacity: 0;
    filter: blur(5px);
   transform: translateX(-100%);
    transition: all 1s;   


}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}


.title {
    width: 100%;
    text-align: center;
}
.title h2 {
    position: relative;
    color: #00bcd4;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}
.title p {
    max-width: 700px;
    display: inline-block;
}
.title h2::before {
    content:'';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}
.title.white  h2 ,.title.white p{
    color:#fff;

}
.title.white h2::before {
    background: #fff;
}
.about {
    background: #000
}
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.content.textbx{
    min-width: 49%;
    width: 49%;
}
.textbx p {
    color: #fff;
}
.imgbx img  {
    max-width: 100%;
}
.contentone {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.contentone .servicebx {
    padding:40px 20px ;
    max-width:340px ;
    margin: 20px;
    transition: 0.5s;
    text-align:center ;
    background: #f5f5f5;
}
.servicebx:hover {
    background: #000;

}
.servicebx img {
   max-width: 80px;
  
   transition-property: tranform;
   transition: 0.3s;
   transition-timing-function: ease;
   transition-delay: 0s;


}
.servicebx:hover img {
    filter: invert(1);
    transform: translateY(-10px);

}
.servicebx h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.servicebx:hover h2 {
    color:#fff;
}
.servicebx p {
    margin: 0;
    transition: 0.5;
}
.servicebx:hover p {
    color:  #fff;
}
.contenttwo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.workbx {
    position: relative;
    width: 265px;
    height: 265px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
    transition-property:transform ;
    transition: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.workbx:hover{
    transform: translateY(-10px);
}
 .imgt,.text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .imgt img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}
 .text {
    background: #000;
    opacity: 0;
    transition: 0.5s;
}

.text:hover {
    opacity: 1;
}
.text h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing:1px ;
    font-size: 1em;
}
